nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #131921;
  color: aliceblue;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
}
li {
  padding: 10px 30px;

  border-radius: 10px;
}
li a {
  text-decoration: none;
  font-size: 18px;
  color: antiquewhite;
}
li:hover {
  outline: 1px solid black;
}
button {
  background: red;
  color: aliceblue;
  border: none;
  padding: 10px;
}
body {
  background-color: gray;
}
img {
  height: 250px;
  width: 270px;
  object-fit: cover;
  border-radius: 10px;
}

.image {
  display: flex;
  padding: 10px 30px;
  gap: 10px;
  flex-wrap: wrap;
}
.box {
  display: flex;
  flex-direction: column;
  background-color: azure;
  align-items: center;
  gap: 10px;
  width: fit-content;
}
.box:hover {
  color: red;
  outline: 1px solid white;
  border-radius: 10px;
}
.box span {
  font-size: 20px;
  font-weight: bolder;
}

.sale {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;

  box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.5);
}
.sale img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  padding: 5px;
}
.text {
  margin-top: 100px;
  margin-left: 300px;
}
.rotate {
}
